/**********CSS FILE**********/

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}

.main-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: ;
}

.user-side {
	height: 100vh;
	width: 30%;
}

.chat-side {
	height: 100vh;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F8F9FA;
	flex-direction: column;
	font-size: 0.9em;
	padding-top: 25px;
}

.chatNotStarted {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #00000073;
	width: 60%;
}

.chatNotStarted p {
	text-align: center;
	margin-top: 0px;
}

.chat-intro-img {
	height: 250px;
	width: 250px;
}

.heading-connected {
	font-size: 2.2em;
	margin-top: 28px;
	font-weight: 300;
	color: #525252;
}

hr {	
	width: 100%;
	border: 0px solid #E5E5E6; 
	border-top-width: 1px;
}

.chatNotStarted hr {
	margin: 34px 0px 34px 0px;
}

.whatsapp-desktop {
	display: flex;
	align-items: center;
}

.whatsapp-desktop .iconify {
	height: 20px;
	width: 20px;
	margin-right: 8px;
}