/**********CSS FILE**********/

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}

.main-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: ;
}

.user-side {
	height: 100vh;
	width: 30%;
	display: flex;
	flex-direction: column;
}

.user-panel {
	height: 40px;
	background-color: #EDEDED;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 16px;
}

.user-panel-icon {
	height: 44px;
	width: 44px;
}

.user-panel-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-panel-right .iconify {
	padding: 8px;
	height: 24px;
	width: 24px;
	margin-left: 10px;
}

.chat-side {
	height: 100vh;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F8F9FA;
	flex-direction: column;
	font-size: 0.9em;
	padding-top: 25px;
}

.chatNotStarted {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #00000073;
	width: 60%;
}

.chatNotStarted p {
	text-align: center;
	margin-top: 0px;
}

.chat-intro-img {
	height: 250px;
	width: 250px;
}

.heading-connected {
	font-size: 2.2em;
	margin-top: 28px;
	font-weight: 300;
	color: #525252;
}

hr {	
	width: 100%;
	border: 0px solid #E5E5E6; 
	border-top-width: 1px;
}

.chatNotStarted hr {
	margin: 34px 0px 34px 0px;
}

.whatsapp-desktop {
	display: flex;
	align-items: center;
}

.whatsapp-desktop .iconify {
	height: 20px;
	width: 20px;
	margin-right: 8px;
}

.search-panel {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F6F6F6;
}

.search-panel input {
	width: 70%;
	padding: 0px 32px 0px 65px;
	border: none;
	height: 35px;
	border-radius: 20px;
}

.search-panel .iconify {
	position: absolute;
	left: 30px;
}